[submodule "catkin_ws/src/sensors/realsense-ros"]
	path = catkin_ws/src/sensors/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
	ignore = dirty
[submodule "catkin_ws/src/ARG/real_to_sim_env"]
	path = catkin_ws/src/ARG/real_to_sim_env
	url = git@github.com:ARG-NCTU/real_to_sim_env.git
	ignore = dirty
[submodule "catkin_ws/src/Pozyx/pozyx_simulation"]
	path = catkin_ws/src/Pozyx/pozyx_simulation
	url = git@github.com:DiaboloKiat/pozyx_simulation.git
	ignore = dirty
[submodule "catkin_ws/src/Turtlebot/turtlebot3"]
	path = catkin_ws/src/Turtlebot/turtlebot3
	url = git@github.com:DiaboloKiat/turtlebot3.git
	ignore = dirty
[submodule "catkin_ws/src/Turtlebot/turtlebot3_simulations"]
	path = catkin_ws/src/Turtlebot/turtlebot3_simulations
	url = git@github.com:DiaboloKiat/turtlebot3_simulations.git
	ignore = dirty
[submodule "catkin_ws/src/Turtlebot/advoard_localization"]
	path = catkin_ws/src/Turtlebot/advoard_localization
	url = git@github.com:DiaboloKiat/advoard_localization.git
	ignore = dirty
