[submodule "catkin_ws/src/sensors/realsense-ros"]
	path = catkin_ws/src/sensors/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
	ignore = dirty
[submodule "catkin_ws/src/ARG/real_to_sim_env"]
	path = catkin_ws/src/ARG/real_to_sim_env
	url = git@github.com:ARG-NCTU/real_to_sim_env.git
	ignore = dirty
[submodule "catkin_ws/src/ARG/pokingbot"]
	path = catkin_ws/src/ARG/pokingbot
	url = git@github.com:ARG-NCTU/pokingbot.git
